@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
body {
  margin: 0;
  
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: rgb(131,58,180);
background: linear-gradient(90deg, rgba(131,58,180,1) 0%, rgba(253,29,29,1) 50%, rgba(252,176,69,1) 100%);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

.app{
 height: 80vh;
 width: 40%;
 background: radial-gradient(circle, red 0%, orange 100%);
 /* background-color: red; */
 margin:50px auto;
 padding: 6rem 2.8rem 0;
 /* justify-content: center; */
border-radius: 10px;
overflow-y:auto ;

}

h1{
  width: auto;
  margin:-10% 40% 7%;
  background:linear-gradient(90deg, rgba(131,58,180,1) 0%, rgba(253,29,29,1) 50%, rgba(131,58,180,1) 100%);
  background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: 900;
}

.icon{
 padding: 2px; 
  margin: 0 2px;
  z-index: 1;
}


.form{
  margin-bottom: 15px;
}
.task-input{
  outline: none;
  width: 350px;
  padding:10px;
  margin-right: 25px;
  font-size: 15px;
  color:#fff;
  background-color: darkmagenta;
  border: 1px solid lightgoldenrodyellow;
  border-radius: 10px;
  font-weight: 800;
  border-color: blueviolet
}


.list{
  background-color:lightgray;
  margin-top: 5px;
  width: 457px;
  padding: 10px;
  font-size:15px ;
  border-radius: 10px;
  border-color: blueviolet;
  overflow: hide;
  pointer-events: none;
  color: darkmagenta;
  font-weight: 800;
}

button{
  
  border-color: transparent;
  background-color: transparent;
}
.fa-check-circle{
  color: green;
}

.fa-edit{
  color:orange;

}
.fa-trash{
  color: red;
}

.fas{
  font-size: 20px;
}

span{margin-left: -100px;}

.button-add{
  width: 80px;
  padding: 5px;
  border-radius: 5px;
  background-color: orange;
  color:red;
  font-weight: 800;
}



@media screen and (max-width:1024px){
  .app{
    width: 70%;
    overflow-y:auto ;
  } 
  .button-add{
    width: 70px;
    padding:5px;
  }
  .task-input{
    width: 350px;
  }
  .list{
    width: 447px;
  } 
}

@media screen and (max-width:640px){
 
  .app{
    width: 100%;
    height: 100vh;
    border: 1px solid red;
    background: rgb(131,58,180);
    background: linear-gradient(90deg, rgba(131,58,180,1) 0%, rgba(253,29,29,1) 50%, rgba(252,176,69,1) 100%);
    position: fixed;
    border-radius: 0;
    overflow-y:auto ;
    margin-top:0% ;
  } 
  .button-add{
    width: 70px;
    padding:5px;
    margin:5px 0 0 90px;
  }
  .task-input{
    width: 300px;
    margin-left:-20px;
  }
  .list{
    width: 300px;
    margin-left: -20px;
  } 

  .fas{
    padding:0px;
     /* margin: 0 1px; */
    font-size: 15px;}
    span{margin-left:180px;}
    h1{
      margin:-15% 34% 7%;
    }
}